.btn-new {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5%;
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px solid #000;
    outline: none;
    font-size: 18px;
    transition: .5s;
}

.btn-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px dashed #000;
    outline: none;
    font-size: 18px;
    transition: .5s;
}

.btn-icon {
    cursor: pointer;
    background: transparent;
    border: none;
}

.btn-form {
    border: 2px solid;
}


.btn-new:hover,
.btn-item:hover {
    background: #000;
    color: #fff;
    transition: .5s;
}