.box-page {
    display: grid;
    justify-items: center;
    gap: 8px;
    width: 250px;
    border: 2px solid;
    padding: 10px;
}

.container-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.container-itens__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}