@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Comfortaa;
  src: url('./assets/fonts/Comfortaa/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: Quicksand;
  src: url('./assets/fonts/Quicksand/Quicksand_Bold.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
  font-family: Comfortaa;
  font-size: 25px;
}

button, p {
  font-family: Quicksand;
  color: #000;
}